div.textbutton {
  cursor: pointer;
  background-color: rgb(80, 80, 216);
  text-align: center;
  color: white;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  padding-top: 10px;
  margin:auto;
  margin-top: 20px;
}
div.checkbox{
  padding:10px;
  font-weight: bold;
  font-size: large;
  border-color: 1px solid gray;
  border-radius: 5px;
}
input.largerCheckbox {
  width: 15px;
  height: 15px;
}
div.menu{
margin: 10px;
margin-left: 20px;
color: gray;
font-weight: bolder;
}
.custom-select {
position: relative;
display: inline-block;
margin-left: 10px;
}

.select-box {
width: 200px; /* Set your desired width for the select box */
padding: 5px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 4px;
cursor: pointer;
margin-top: 10px;
}

.option-down-arror {
font-size: xxx-large;
color: darkslategrey;
margin: auto;
margin-top: -20px;
}
.options-container {
display: none;
position: absolute;
width: 100%;
max-height: 200px; /* Set your desired max height for the dropdown */
overflow-y: auto;
border: 1px solid #ccc;
border-top: none;
border-radius: 0 0 4px 4px;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.option {
padding: 10px;
display: flex;
align-items: center;
border-bottom: 1px solid #ccc;
box-shadow: 0px 1px 2px gray; 
margin: 5px;
border-radius: 2px;
background-color: whitesmoke;
}

.option:hover {
background-color: #f0f0f0; /* Optional: Highlight on hover */
}

.option .title {
font-weight: bold;
}

.option .description {
color: #666;
font-size: 14px;
}
.custom-select.active .options-container {
display: block;
}
div.text-with-line {
position: relative;
}
div.text-with-line::before {
content: "";
position: absolute;
bottom:-1px;
width: 98%;
height: 1px;
background-color: gray;
}
div.text-with-line_font {
position: relative;
left: 10px;
font-size: larger;
}
div.text-with-line_font::before {
content: "";
position: absolute;
bottom:-1px;
width: 98%;
height: 1px;
background-color: gray;
}
div.fontid{
color: gray;
}
div.fontid_text{
color: gray;
font-size:x-large;
font-weight: bolder;
}
div.vehicle_configure_full{
border: 1px solid gray;
height:130px;
width: 100%;
}
div.bottom{
border: 1px solid gray;
height: 55px;
width: 50px;
margin-top: 20px;
}
div.device_confi{
display: inline-flex;
position: absolute;
height: 150px;
width:65px;  
}
div.vehicle_configure{
padding:10px;
color: rgb(117, 114, 114);
font-size: larger;
}

.icon {
width: 36px; /* Set your desired width for the icon */
height: 36px; /* Set your desired height for the icon */
margin-right: 5px;
}
div.color{
padding: 10px;
margin-left:70%;
color: rgb(141, 136, 136);
font-size: larger;
}
div.button{

height: 30px;
background-color: rgb(103, 103, 126);
color: white;
text-align: center; 
padding-top: 10px;
margin-top: 30px;
margin-left: 20px;
}

button:hover{
cursor: pointer;
}
div.listbody{
width: 100%;
height: 120px;
border: 1px solid gray;
box-shadow: 0px 2px 3px gray;
display: inline-flex;
}
div.product-container{
width: 70px;
height: 70px;
border-radius: 5px;
border: 1px solid gray;
margin: 20px ;
position: relative;
display: inline-block;
}
div.product-image {
width: 50px;
height: 50px; 
position: relative;
cursor: pointer;
}
div.discount-badge {
position: absolute;
top: 10px; 
right: 10px;
background-color: rgb(52, 222, 52);  
color: white; 
padding: 3px;
border-radius: 5px;
font-size: 5px;
}

div.order-summary {
width: 100%;
height: 120px;
background-color:#ede7f6 ;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
div.font{
padding: 5px 16px;
color: black;
font-size: larger;
width: 50%;
}
div.order-detail{
width: 100%;
margin: 0px 20px;
display: inline-flex;
cursor: pointer;
}

hr {
border: none;
border-top: 1px solid gray; 
width: 90%;
}
div.delivery{
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
width: 100%;

display: inline-flex;
padding: 20px 10px;
}

div.Save-discount-badge{
width: 80px;
background-color: rgb(52, 222, 52); 
color: white; 
padding: 3px 15px;
border-radius: 5px;
font-size: 12px; 
cursor: pointer;  
}
div.footer{
/* width: 100px; */
height: 20px;
/* margin: 20px 40px 20px 80px; */
background-color: rgb(195, 28, 28);
margin: 5px;
border-radius: 5px;
padding: 10px;
color: white;

}

.button-container {
display: inline-flex; 
padding: 40px 20px;
width: 100px;
height: 15px;
}

.quantity-button {
width: 30px;
height: 25px;
border: none;
cursor: pointer;
font-size: 1rem;
vertical-align: middle;
}

.quantity-input {
background-color: orange;
width: 30px;
height: 23px;
font-size: 1rem;
text-align: center;
cursor: pointer;
border: gray;
}

