div.textbutton {
  cursor: pointer;
  background-color: rgb(80, 80, 216);
  text-align: center;
  color: white;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  padding-top: 10px;
  margin:auto;
  margin-top: 20px;
}
div.checkbox{
  padding:10px;
  font-weight: bold;
  font-size: large;
  border-color: 1px solid gray;
  border-radius: 5px;
}
input.largerCheckbox {
  width: 15px;
  height: 15px;
}
div.menu{
margin: 10px;
margin-left: 20px;
color: gray;
font-weight: bolder;
}
.custom-select {
position: relative;
display: inline-block;
margin-left: 10px;
}

.select-box {
width: 200px; /* Set your desired width for the select box */
padding: 5px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 4px;
cursor: pointer;
margin-top: 10px;
}

.option-down-arror {
font-size: xxx-large;
color: darkslategrey;
margin: auto;
margin-top: -20px;
}
.options-container {
display: none;
position: absolute;
width: 100%;
max-height: 200px; /* Set your desired max height for the dropdown */
overflow-y: auto;
border: 1px solid #ccc;
border-top: none;
border-radius: 0 0 4px 4px;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.option {
padding: 10px;
display: flex;
align-items: center;
border-bottom: 1px solid #ccc;
box-shadow: 0px 1px 2px gray; 
margin: 5px;
border-radius: 2px;
}

.option:hover {
background-color: #f0f0f0; /* Optional: Highlight on hover */
}

.option .title {
font-weight: bold;
}

.option .description {
color: #666;
font-size: 14px;
}
.custom-select.active .options-container {
display: block;
}
div.text-with-line {
position: relative;
left: 10px;
color: gray;
}
div.text-with-line::before {
content: "";
position: absolute;
bottom:-1px;
width: 98%;
height: 1px;
background-color: gray;
}
div.text-with-line_font {
position: relative;
left: 10px;
font-size: larger;
}
div.text-with-line_font::before {
content: "";
position: absolute;
bottom:-1px;
width: 98%;
height: 1px;
background-color: gray;
}
div.fontid{
color: gray;
}
div.fontid_text{
color: gray;
font-size:x-large;
font-weight: bolder;
}
div.vehicletype{
border: 1px solid gray;
height:130px;
width: 100%;
}
div.bottom{
border: 1px solid gray;
height: 55px;
width: 50px;
margin-top: 20px;
}
div.device{
display: inline-flex;
position: absolute;
height: 150px;
width:65px;  
}
div.vehicle{
padding:10px;
color: rgb(117, 114, 114);
font-size: larger;
}

.icon {
width: 36px; /* Set your desired width for the icon */
height: 36px; /* Set your desired height for the icon */
margin-right: 5px;
}
div.color{
padding: 10px;
margin-left:70%;
color: rgb(141, 136, 136);
font-size: larger;
}
div.button{
width: 80px;
height: 30px;
background-color: blue;
color: white;
text-align: center; 
padding-top: 10px;
margin-top: 30px;
margin-left: 20px;
}