@font-face {
  font-family: NarrowFont;
  src: url("./../fonts/Dense-Regular.otf");
}

div.listitem {
  box-shadow: 0px 2px 3px gray;
  margin: 8px;
  position: relative;
}

div.activeback {
  background-color: rgb(56, 229, 108);
}

div.inactiveback {
  background-color: #8a8a8a;
  color: #f9f9f9;
}

div.undefinedback {
  background-color: rgb(237, 154, 52);
}

div.gradient {
  width: auto;
  height: auto;
  background: repeating-radial-gradient(white, rgb(179, 76, 91));
}

div.gpsiconbox {
  width: 40px;
  height: 40px;
  background: repeating-radial-gradient(white, orange);
  padding: 4px;
  border: 1px solid gray;
  border-radius: 6px;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (orientation: landscape) {
  div#vehicle-mainContent {
    width: 55%;
    /* height: calc(100vh- 60px); */
    margin: auto;
    font-size: 13px;
  }
}

div.vehiclesHeader {
  display: flex;
  width: 100%;
  height: 36px;
  padding: 3px;
}

div.title {
  font-weight: bold;
  padding: 5px;
  width: 100%;
  font-size: 16px;
}

div.menuicon {
  font-size: 16px;
  width: 24px;
  padding: 5px;
}

div.listbody {
  display: inline-flex;
  background-color: white;
  font-family: NarrowFont;
  width: 100%;
  height: 75px;
  padding: 3px;
}

div.vehicleinfo {
  display: inline-flex;
  background-color: white;
  width: 50%;
  margin: 5px;
}

div.vehiclename {
  border: 1px solid gray;
  font-size: large;
  padding: 4px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  border-radius: 6px;
}

div.gpsinfo {
  display: inline-flex;
  background-color: white;
  width: 50%;
}

div.gpsid {
  font-size: large;
  text-align: center;
  height: 50px;
  border: 1px solid gray;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 4px;
  margin-right: 4px;
  width: 100%;
  border-radius: 6px;
}

/* CSS for MENU ICON WITH DISPLAY AND MODIFY OPTIONS */

div.hmenu {
  width: 120px;
  position: absolute;
  background-color: #f0f0f0;
  display: none;
  height: 60px;
  right: 30px;
  top: 10px;
  box-shadow: 0 1px 0px 1px gray;
  color: white;
  border-radius: 3px;
  animation: hmenuanimate 0.5s;
}

@keyframes hmenuanimate {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 120px;
    height: 60px;
  }
}

div.hmenuicon:hover {
  box-shadow: 0 0 1px 3px 000000AA;
  background-color: rgba(130, 130, 248, 0.801);
}

div.hmenuicon {
  margin: 5px;
  padding: 6px;
  width: 54px;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  visibility: hidden;
}

div.text {
  display: inline-flex;
  font-size: 11px;
  color: #222;
}
