<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <style>
             @media only screen and (orientation: landscape) {

                div#listcontainer{
                width: 60%;
                margin:auto ;
                }

                }
        </style>
    </head>
    <body>
        <div id="listcontainer">
            <div class="collection">
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item active">Alvin</a>
                <a href="#!" class="collection-item active" style="background-color: rgb(152, 148, 148);">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
              </div>

              <ul class="collection with-header">
                <li class="collection-header"><h4>First Names</h4></li>
                <li class="collection-item active" style="background-color: rgb(152, 148, 148);">Alvin</li>
                <li class="collection-item">Alvin</li>
                <li class="collection-item active" style="background-color: rgb(152, 148, 148);">Alvin</li>
                <li class="collection-item">Alvin</li>
              </ul>

              <ul class="collection with-header">
                <li class="collection-header"><h4>First Names</h4></li>
                <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">
                    <img src="./img/send.png" style="background-color: rgb(112, 194, 154); height: 20px; width: 20px;"></i></a></div></li>
                <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">
                    <img src="./img/send.png" style="background-color: rgb(112, 194, 154); height: 20px; width: 20px;"></i></a></div></li>
                <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">
                    <img src="./img/send.png" style="background-color: rgb(112, 194, 154); height: 20px; width: 20px;"></i></a></div></li>
                <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">
                    <img src="./img/send.png" style="background-color: rgb(112, 194, 154); height: 20px; width: 20px;"></i></a></div></li>
              </ul>

              <ul class="collection">
                <li class="collection-item avatar">
                  <img src="img/rose.jpeg" alt="" class="circle">
                  <span class="title">Title</span>
                  <p>First Line <br>
                     Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">
                    <img src="./img/star.png" style="background-color: rgb(112, 194, 154); height: 20px; width: 20px;"></i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="img/rose.jpeg" alt="" class="circle">
                  <span class="title">Title</span>
                  <p>First Line <br>
                     Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">
                    <img src="./img/star.png" style="background-color: rgb(112, 194, 154); height: 20px; width: 20px;"></i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="img/rose.jpeg" alt="" class="circle">
                  <span class="title">Title</span>
                  <p>First Line <br>
                     Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">
                    <img src="./img/star.png" style="background-color: rgb(112, 194, 154); height: 20px; width: 20px;"></i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="img/rose.jpeg" alt="" class="circle">
                  <span class="title">Title</span>
                  <p>First Line <br>
                     Second Line
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">
                    <img src="./img/star.png" style="background-color: rgb(112, 194, 154); height: 20px; width: 20px;"></i></a>
                </li>
              </ul>
        </div>
    </body>
</html> 