<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <style>
             @media only screen and (orientation: landscape) {

                div#listcontainer{
                width: 60%;
                margin:auto ;
                }

                }
        </style>
    </head>
<body>
    <div id="listcontainer">
    <div class="collection">
        <a href="#!" class="collection-item"><span class="badge">1</span>Drivool care</a>
        <a href="#!" class="collection-item"><span class="new badge red">4</span>Gmail</a>
        <a href="#!" class="collection-item"><span class="new badge">2</span>Notification</a>
        <a href="#!" class="collection-item"><span class="badge">14</span>PhonePay</a>
    </div>
    
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="#!"></a>>one<span class="badge">1</span></a></li>
      <li><a href="#!"></a>>two<span class="new badge">1</span></a></li>
      <li><a href="#!"></a>>three</a></li>
    </ul>
    <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Dropdown<i class="material-icons right">arrow_drop_down</i></a>
              
      <ul class="collapsible" style="margin-top: 30px;">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            First
            <span class="new badge">4</span></div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">place</i>
            Second
            <span class="badge">1</span></div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
      </ul>
      
      <nav style="margin-top: 30px;">
        <div class="nav-wrapper">
          <a href="" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Google<span class="new badge grey">2</span></a></li>
            <li><a href="">PhonePay <span class="new badge">4</span></a></li>
            <li><a href="">Youtube<span class="badge">1</span></a></li>
          </ul>
        </div>
      </nav>
    </div>
</body>
</html>